#!/usr/bin/make -f

ifneq ($(wildcard download-source-package.sh),)
$(error Run ./download-source-package.sh first, then cd source-package and run dpkg-buildpackage -us -uc)
endif

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export MinifyMakoZip = no

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) -C BAS -f mako.mk EPOLL=TRUE PYTHON=

override_dh_auto_install:
	dh_install

override_dh_auto_test:

override_dh_auto_clean:
	$(MAKE) -C BAS -f mako.mk clean || true
	rm -f BAS/mako.zip
	rm -f BAS/examples/MakoServer/src/NewEncryptionKey.h
	rm -rf BAS-Resources/build/MakoBuild
	rm -f BAS-Resources/build/mako.zip
